
#outer {
    background-color: burlywood;
    height: 97vh;
    display: flex;
    padding: 5px 0px;

}

.inner   {
        
        text-align: center;
        color: white;
        font-size: auto;
        flex-grow: 1;
        padding: 5px;
    }

#green  {
    background-color: green;
    margin-left: 10px;
}

#yellow  {
    background-color: yellow ;
    
}

#purple  {
    background-color: purple ;
}

#grey  {
    background-color: grey;
}

#blue  {
    background-color: blue ;
}

#orange  {
    background-color: orange;
}

#pink  {
    background-color: pink;
}

#red  {
    background-color: red ;
}

#black  {
    background-color:black ;
    margin-right: 10px;
}